<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <description>problem2</description>
  <display-name>problem2 solution</display-name>
  <servlet>
    <servlet-name>myendpoint</servlet-name>
    <servlet-class>mysolution.Myendpoint</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myendpoint</servlet-name>
    <url-pattern>/endpoint</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>